<style>
  table,
  td,
  th {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
    width: 90%;
  }

  th {
    height: 50px;
  }
</style>

<h2>Getting from (http://localhost:4000/api/jobs)</h2>
<!--<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Availability</th>
    <th>Skills</th>
    <th>Sponsorship</th>
    <th>Type</th>
    <th>URL</th>
  </tr>

  <tr *ngFor="let j of lstjobs">
    <td>{{ j.title }}</td>
    <td>{{ j.description }}</td>
    <td>{{ j.isAvailable }}</td>
    <td>{{ j.skills }}</td>
    <td>{{ j.sponsorship }}</td>
    <td>{{ j.typeOfJob }}</td>
    <td>
      <a href="{{ j.url }}}" target="_blank">{{ j.url }}</a>
    </td>
  </tr>
</table>
-->
<button mat-raised-button color="accent">Click me</button>
<div class="row">
  <div *ngFor="let k of lstjobs" class="col-4 card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img
            mat-card-image
            src="{{ k.companylogourl }}"
            alt="Photo of a Shiba Inu"
          />
        </div>
        <mat-card-title>{{ k.title }}</mat-card-title>
        <mat-card-subtitle>{{ k.typeOfJob }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          {{ k.description }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p>
          {{ k.skills }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent">{{ k.sponsorship }}</button>
        <button mat-button>{{ k.isAvailable }}</button>

        <button>
          <a href="{{ k.url }}}" target="_blank">Apply Now</a>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
